# Ignore file for Visual Studio 2008

# use glob syntax
syntax: glob


# Ignore Visual Studio 2008 files
*.obj
#*.exe
#*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
_UpgradeReport_Files*/
*.ReSharper.*
*.dotCover

*.nupkg
packages

_cache
_cache\*

.idea
.idea\*


#wraps
#wraps\*
Inceptum.AppServer-*.wrap
/*syntax: regexp
^[^\/]*.wrap*/

